<a href="https://colab.research.google.com/github/susuusub/projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
a=100
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)

120
80
2000
5.0

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:
#1
print(10+3*4)
#2
iphone=15
price=1300000
print('%d x %d=%d' %(iphone,price,iphone*price))
print(f'{iphone:^10}x{price}={iphone*price:>10}')
#3
import random
number=random.randint(1,100)#1~100까지 정수
if number%2==0: print(number,'짝수')
else: print(number,'홀수')

print("짝수" if 10%2==0 else "홀수")

#4
print(2**3*5**4*3**4)

22
15 x 1300000=19500000
    15    x1300000=  19500000
71 홀수
짝수
405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

데이터 123의 자료형: <class 'int'>
데이터 123의 자료형: <class 'str'>
데이터 [123]의 자료형: <class 'list'>
데이터 (123,)의 자료형: <class 'tuple'>
데이터 {'key': 123}의 자료형: <class 'dict'>
데이터 {123}의 자료형: <class 'set'>
데이터 True의 자료형: <class 'bool'>

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a=int(input('숫자를 입력하세요: '))
a=list('apple')

# 표준 출력
print(f'변수 a의 값:{a}, {type(a)}')

숫자를 입력하세요: 11
변수 a의 값:['a', 'p', 'p', 'l', 'e'], <class 'list'>

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
num1=int(input('first num: '))
num2=int(input('second num: '))
print('-'*50)
print(f'덧셈: {num1} + {num2} = {num1+num2}')#데이터타입 구분x
print('뺄셈: %d - %d = %d'%(num1,num2,num1-num2))
print('곱셈: %d * %d = %d'%(num1,num2,num1*num2))
print('나눗셈: %d / %d = %d'%(num1,num2,num1/num2))

first num: 10
second num: 2
--------------------------------------------------
덧셈: 10 + 2 = 12
뺄셈: 10 - 2 = 8
곱셈: 10 * 2 = 20
나눗셈: 10 / 2 = 5

- f'string' 함수를 이용해 출력하기

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = float(input('속력를 입력해 주세요(km/h) : '))
distance = float(input('거리를 입력해 주세요(km) : '))
print('-'*50)
print(f'속력 : {velocity} km/h')
print(f'거리 : {distance} km')
print(f'시간 : {distance/velocity} h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
속력 : 100.0 km/h
거리 : 340.0 km
시간 : 3.4 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
print('-'*50)
time=eval(f'{distance}/{velocity}') #문자->숫자로 계산
print(type(time))
print(f'시간 : {time} h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 340
--------------------------------------------------
<class 'float'>
시간 : 3.4 h

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math

a=-3.14

print(f'원주율: {math.pi }')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
print(math.pi*4*4)
print(round(3.14*2/7))
print(2*3.14*4)
print("{0:d},{1:5d},{2:05d}".format(123,123,124))

print('-'*50)
#정수 a를 입력받아 a+aa+aaa의 결과 출력
a=int(input('정수입력: '))
print(a+int(str(a)*2)+int(str(a)*3))

b=input('정수입력: ')
print(int(b)+int(b*2)+int(b*3))

result=f"{b}+{b*2}+{b*3}"
print(f'{result} = {eval(result)}')

50.26548245743669
1
25.12
123,  123,00124
--------------------------------------------------
정수입력: 7
861
정수입력: 7
861
7+77+777 = 861

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [1]:
# 문자 --> 숫자(정수)(아스키코드) 로 변환 : ord() 함수 사용
print( ord('A') )
print(ord('a'))
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

In [2]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

0b1101001100001100 0b1100011101110100 0b1100001101101100

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [3]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [4]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [6]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [8]:
# 주문받아 출력하기
print("카페주문 프로그램입니다.")
print("-"*50)
print(menu)
print("-"*50)
coffee=input('주문하실 음료를 입력하세요')
print(f"주문하신 음료 {coffee}가 나왔습니다.")

카페주문 프로그램입니다.
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요아메리카노
주문하신 음료 아메리카노가 나왔습니다.

### 문자열 연산
- (+): 문자열 연결하기

In [10]:
print('안녕하세요'+'최수빈님')
print('안녕하세요','최수빈님')

안녕하세요최수빈님
안녕하세요 최수빈님

- (*) : 반복의 의미

In [11]:
print('7'+'7')

77

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [19]:
print('Mary’s cosmetics')
print('박씨가 소리질렀다. "도둑이야!"')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")
s="사랑해요 파이썬!"
print(s[::-1])

Mary’s cosmetics
박씨가 소리질렀다. "도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.
!썬이파 요해랑사

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

In [66]:
기사='''
알트코인(비트코인을 제외한 가상자산) 대표격인 이더리움은 24시간 전 대비 6.5% 떨어져 1689달러에 거래 중이다. 시가총액 10위권 내 주요 알트코인인 리플, 카르다노, 도지코인은 각각 13.6%, 6.6%, 8.4% 하락했다. 전체 가상자산 시가총액은 하루새 680억달러가 증발해 1조700억달러로 쪼그라들었다.

미국 10년물 국채금리가 15년 만에 최고치를 경신하며 가상자산 투심에 영향을 미쳤다.

17일(현지시간) 미국 채권시장에서 10년물 채권금리는 장중 4.328%까지 치솟았다. 인플레이션이 예상만큼 빠르게 둔화하지 않으면서, 고금리가 상당기간 이어질 것이라는 전망이 커졌기 때문이다. 또 미국 정부가 재정적자를 메우기 위해 국채 발행을 늘리면서 수요보다 공급이 많아져 미스매치 수익률이 더해진 것도 영향을 줬다.

사실상 무위험 자산인 국채에 투자해도 연 4% 중반까지 이익을 낼 수 있게 되면, 위험자산에 대한 선호 심리는 떨어질 수밖에 없다. 이에 가상자산 시장의 유동성이 빠져나갈 수 있다는 우려가 커지면서 가상자산 가격이 일제 하락한 것으로 풀이된다.
'''
print(기사.count('코인')) #개수
print(기사.find('이더리움')) #위치
#문자열 관련 함수들
#join, upper, lower, strip, lstrip, rstrip, replace, split
기사=기사.replace('알트','비트')
result=기사.split( ) #분리하여 배열에 저장
print(len(result))
print(result)

4
27
118
['비트코인(비트코인을', '제외한', '가상자산)', '대표격인', '이더리움은', '24시간', '전', '대비', '6.5%', '떨어져', '1689달러에', '거래', '중이다.', '시가총액', '10위권', '내', '주요', '비트코인인', '리플,', '카르다노,', '도지코인은', '각각', '13.6%,', '6.6%,', '8.4%', '하락했다.', '전체', '가상자산', '시가총액은', '하루새', '680억달러가', '증발해', '1조700억달러로', '쪼그라들었다.', '미국', '10년물', '국채금리가', '15년', '만에', '최고치를', '경신하며', '가상자산', '투심에', '영향을', '미쳤다.', '17일(현지시간)', '미국', '채권시장에서', '10년물', '채권금리는', '장중', '4.328%까지', '치솟았다.', '인플레이션이', '예상만큼', '빠르게', '둔화하지', '않으면서,', '고금리가', '상당기간', '이어질', '것이라는', '전망이', '커졌기', '때문이다.', '또', '미국', '정부가', '재정적자를', '메우기', '위해', '국채', '발행을', '늘리면서', '수요보다', '공급이', '많아져', '미스매치', '수익률이', '더해진', '것도', '영향을', '줬다.', '사실상', '무위험', '자산인', '국채에', '투자해도', '연', '4%', '중반까지', '이익을', '낼', '수', '있게', '되면,', '위험자산에', '대한', '선호', '심리는', '떨어질', '수밖에', '없다.', '이에', '가상자산', '시장의', '유동성이', '빠져나갈', '수', '있다는', '우려가', '커지면서', '가상자산', '가격이', '일제', '하락한', '것으로', '풀이된다.']

In [25]:
###[실습문제] 파일명과 확장자 분리하기
fname=input('파일을 입력하세요: ')
print('파일: ',fname)
tmp=fname.split('.')
print(f'파일명: {tmp[0]}, 확장자: {tmp[1]}')

파일을 입력하세요: test.py
파일:  test.py
파일명: test, 확장자: py

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [29]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁
meal=meal*tax+meal
total=meal*tip+meal
print(round(total,2))

5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [35]:
 c_temp = input()   #키보드로부터 입력을 받는 함수: input()
 c_temp = int(c_temp)  # 정수로 변환: int()
print(f'섭씨: {c_temp} -> {9/5*c_temp+32}')

32
섭씨: 32 -> 89.6

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [54]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
print(money//500)
money%=500
print(money//100)
money%=100
print(money//50)
money%=50
print(money//10)
money%=10

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 5468
동전으로 교환하겠습니다.---------
10
4
1
1

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [55]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [56]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [58]:
list(range(10)) #정수를 순차적으로 만들어주는 함수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [59]:
a='python'
list(a)

['p', 'y', 't', 'h', 'o', 'n']

### 리스트 삭제

In [ ]:
del(b)

print(a)
print(b)

### 리스트 요소에 접근

In [72]:

colors=['red','green',['blue','deepblue'],'black','white']
print( colors[1] )
print( colors[2] )
print( colors[2][1] )
colors.append('pink')
colors.insert(1,'purple')
print(colors)
colors[3].insert(2,'darkblue')
print(colors)

green
['blue', 'deepblue']
deepblue
['red', 'purple', 'green', ['blue', 'deepblue'], 'black', 'white', 'pink']
['red', 'purple', 'green', ['blue', 'deepblue', 'darkblue'], 'black', 'white', 'pink']

### 리스트 요소 추가 / 변경

In [ ]:
print(a)
a.append('봄')     # 리스트 맨 끝에 추가
print(a)
a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
print(a)

In [76]:
#리스트 변경
colors[1]='light green'
print(colors)
colors[3][2]='light blue'
print(colors)

['red', 'light green', 'green', ['blue', 'deepblue', 'light blue'], 'black', 'white', 'pink']
['red', 'light green', 'green', ['blue', 'deepblue', 'light blue'], 'black', 'white', 'pink']

### 리스트 요소 삭제

In [ ]:
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)
#특정위치 요소 제거
del colors[2]

In [82]:
#임의의 수 생성해서 리스트 만들고 정렬하기
import random
numbers=[]
for i in range(0,10):
    numbers.append(random.randint(1,100))
print(numbers)
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[96, 35, 46, 59, 1, 93, 24, 50, 68, 100]
[1, 24, 35, 46, 50, 59, 68, 93, 96, 100]
[100, 96, 93, 68, 59, 50, 46, 35, 24, 1]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [84]:
members={}
members=dict()
members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(members['age'])
print(members.get('age'))
members[7]=['jk','v','rm']
print(members)

29
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['jk', 'v', 'rm']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [91]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    print('%s => %s' % (key, scores[key]))
print(scores.items())
# 방법2
print('---방법2---')
for key, value in scores.items():
    print('%s => %s' % (key, value))

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [92]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 키만 추출
print(scores.items())  # (키,값)쌍 형태로 추출

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [ ]:
# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'])
print(scores)

**튜플**

In [95]:
a=tuple()
a=()
print(type(a))

a=(1)
print(type(a))
a=(1,2,3,4,5)
print(type(a))

print(a[:3])

<class 'tuple'>
<class 'int'>
<class 'tuple'>
(1, 2, 3)

집합(**set**)

------------------------

In [96]:
a=set()
a=set("hello") #중복제거
print(type(a),a)

<class 'set'> {'h', 'o', 'e', 'l'}

끝