<a href="https://colab.research.google.com/github/susuusub/projectmanager/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1. 순매수
2. 업종현황 상위 20위 -> 뉴스 100개 검색

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

1. 순매수

In [15]:
#한글폰트
import matplotlib.font_manager as fm

font_list_win = fm.findSystemFonts(fontpaths=None, fontext='ttf')
print(f'windows 폰트 목록 : {font_list_win}')

windows 폰트 목록 : ['/usr/share/fonts/truetype/liberation/LiberationSans-Bold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Italic.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-Bold.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Bold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Bold.ttf', '/usr/share/fonts/truetype/liberation/LiberationSerif-BoldItalic.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-BoldItalic.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-BoldItalic.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Regular.ttf', '/usr/share/fonts/truetype/liberation/LiberationSansNarrow-Italic.ttf', '/usr/share/fonts/truetype/humor-sans/Humor-Sans.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-Italic.ttf', '/usr/share/fonts/truetype/liberation/LiberationSans-BoldItalic.ttf', '/usr/share/fonts/truetype/liberation/LiberationMono-Italic.ttf']

In [7]:
file1= './sample_data/krx_순매수.csv'
file2='./sample_data/업종분류현황_20230830.csv'

df1= pd.read_csv(file1, encoding='CP949')

df1 #2362

,종목코드,종목명,거래량_매도,거래량_매수,거래량_순매수,거래대금_매도,거래대금_매수,거래대금_순매수
0,005930,삼성전자,3946002,4317613,371611,265687229000,290532788000,24845559000
1,035720,카카오,498619,960947,462328,24255894550,46860951450,22605056900
2,105560,KB금융,306025,720175,414150,16128298700,37999620300,21871321600
3,247540,에코프로비엠,483626,550083,66457,161036473500,182597489500,21561016000
4,010130,고려아연,11574,52305,40731,5844827500,27053679500,21208852000
...,...,...,...,...,...,...,...,...
2358,090460,비에이치,626142,307765,-318377,14843179450,7282175650,-7561003800
2359,000660,SK하이닉스,1108411,1037383,-71028,132079894500,123242911900,-8836982600
2360,096770,SK이노베이션,314072,245703,-68369,54939045100,43027115300,-11911929800
2361,009150,삼성전기,221473,126953,-94520,31333923600,18583704000,-12750219600
2362,022100,포스코DX,6119383,5757791,-361592,263360813500,249819822100,-13540991400

In [31]:
df2= pd.read_csv(file2, encoding='CP949')

#등락률 상위 30개 데이터 추출
df_top=df2.sort_values('등락률',ascending=False).head(30)
top_list=df_top['종목명'].head(10)
top_list

358          디와이
645    이수스페셜티케미컬
624          유니켐
751        쿠쿠홀딩스
906       현대오토에버
647         이수화학
503         세방전지
23          DI동일
78        KG모빌리티
646       이수페타시스
Name: 종목명, dtype: object

In [ ]:
#상위 업종 3가지 딕셔너리에 저장
df_top.groupby('업종명').count().sort_values('종목코드',ascending=False).head(3)

In [16]:
# df에서 상위 업종별 막대그래프 시각화
import sklearn
plt.rcParams['font.family'] = 'Malgun Gothic'

def get_wordTokenCount(corpus):
    from sklearn.feature_extraction.text import CountVectorizer

    # 기사제목을 토큰화
    vect = CountVectorizer().fit(corpus)
    count = vect.transform(corpus).toarray().sum(axis=0)

    # 토큰 빈도수로 정렬하고 토큰명 추출
    idx = np.argsort(-count)  # 내림 정렬하여 인덱스 반환: 토큰의 인덱스
    count = count[idx]        # 토큰의 빈도수
    feature_name = np.array(vect.get_feature_names_out())[idx]  # 토큰값

    # 빈도수 많은 순서대로 토큰명 10개만 출력
    print(list(zip(feature_name, count))[:10])

    return feature_name, count

def draw_wordTokenCountGraph(data, freq):
    plt.bar(data, freq)
    plt.grid()
    plt.show()

    # 그래프 그림 저장히기
    plt.savefig(f'image/{keyword}_bar_graph.png')


# 기사제목을 말뭉치로 사용
corpus = df2['업종명'].to_list()
# print(corpus)

# 기사제목을 토큰화하여 빈도수 가져오기
feature_name, count = get_wordTokenCount(corpus)

# 단어(토큰) 빈도 수_Bar그래프 그리기 : 상위 10개
draw_wordTokenCountGraph(feature_name[:10], count[:10])

In [ ]:
# df에서 상위 업종별 wordcloud 시각화
from wordcloud import WordCloud
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (10,6)

# 자신의 컴퓨터 환경에 맞는 한글 폰트 경로를 설정(window에서)
# font_path = 'malgun'  # C:/Windows/Fonts/
font_path = 'HMKMMAG' # C:/Windows/Fonts/HMKMMAG.TTF

# (토큰명, 빈도수) 딕셔너리 타입으로 변환
data = dict(zip(feature_name, count))

# 워드클라우드로 그래프로 시각화
wc = WordCloud(width = 1000, height = 600, background_color="white", font_path=font_path)
plt.imshow(wc.generate_from_frequencies(data)) #딕셔너리
plt.axis("off")
plt.show()

# 파일로 저장하기
wc.to_file(f'image/{keyword}_워드클라우드.png')

In [ ]:
#토큰 빈도수 출력하기
data = dict(zip(feature_name, count))
token_df = pd.DataFrame(data, index=[1])
token_df

# token_df.to_csv('data/token.csv', index=False, encoding="utf-8-sig")

In [ ]:
# df에서 상위 업종 3개 동적크롤링 활용해 해당 날짜 뉴스 10개 검색

import requests
from bs4 import BeautifulSoup
import pandas as pd

print('-'*50)
print("#네이버 뉴스 데이터 크롤링하기...")
print('-'*50)

# 검색 URL 지정하기
# query=검색어, start=페이지 (10건씩 추출)
news_url = 'https://search.naver.com/search.naver?where=news&query={}&start='

# 검색어 직접 입력 받기
keyword = input('검색 키워드를 입력하세요 : ')
query = keyword.replace(' ', '+') # 검색에서 공백문자를 +로 대체해 사용하도록 적용


def get_naverNewTitle(total=100, start_cnt=1):

    # 1.웹 데이터 수집하기
    titles, urls= [],[]     # 제목=[], url=[] 데이터담기
    while True:

        # 웹 페이지 요청하기

        response = requests.get(news_url.format(query) + str(start_cnt))
        print (response)

        # 2.응답 결과 파싱하기(제목, url 추출하기)
        soup = BeautifulSoup(response.text, 'html.parser')
#         page_tags   = soup.select('ul.list_news > li > div > div > a')
        page_tags   = soup.select('div.news_area > a')
        page_titles = list(map(lambda tag: tag.get('title'), page_tags))
        page_urls   = list(map(lambda tag: tag.get('href'), page_tags))


        # 목적 개수만큼 추출하기
        if len(page_titles) <= 0:
            break
        elif start_cnt >= total:
            break
        else:
            titles += page_titles
            urls += page_urls
            start_cnt += len(page_titles)

        # 데이터 수집 진행률 표시
        print(f"{int( start_cnt-1/total*100 ) }% ", end="")

    print()
    print(f"검색어[{keyword}] 로 검색된 뉴스 [{len(titles)}]건 가져오기 완료!")
    print('-'*50)

    # 3.titles, urls 2차원 리스트로 만들어 DataFrame으로 만든다.
    datas = [[t, u] for t, u in zip(titles, urls)]
    df = pd.DataFrame(datas, columns=['title','url'])
    return df

df = get_naverNewTitle(10, 1)
df

# 4.파일로 저장하기
file = f"./sample_data/naver_news_{keyword}_title.csv"
news_df = df['title']
news_df.to_csv(file, index=False, encoding="utf-8-sig")
df

In [ ]:
# df에서 상위 업종 3개 open api 활용해 해당 날짜 뉴스 10개 검색
#https://wonhwa.tistory.com/52